<p id="notice"><%= notice %></p>

<p>
  <strong>Course no:</strong>
  <%= @music_reserve.course_no %>
</p>

<p>
  <strong>Rec title:</strong>
  <%= @music_reserve.rec_title %>
</p>

<p>
  <strong>Call no:</strong>
  <%= @music_reserve.call_no %>
</p>

<p>
  <strong>Composer:</strong>
  <%= @music_reserve.composer %>
</p>

<p>
  <strong>File name:</strong>
  <%= @music_reserve.file_name %>
</p>

<p>
  <strong>File note:</strong>
  <%= @music_reserve.file_note %>
</p>

<%= link_to 'Back', music_reserves_path %>
